@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-optical-sizing: auto;
    background-color: #1c1c1c;
    color: #ededed;
}

/* HEADER - Cabeçalho */
header {
    padding: 1rem 2rem;
    
}
header .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header h1 {
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 1px;
    color: #ffffff;
    
}


/* MAIN - Principal */


/* FOOTER - Rodapé */